<div class="container">
  <div class="row">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="http://baochinhphu.vn/Uploaded/buithuhuong/2018_09_14/ha%20long.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUbBLWv7VZq23aVxUsHd5vmmjuapSxEj6zxfqwWZ1RuxDP6XY-_YpOhtWDn_-klK-s56k&usqp=CAU" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT17-vhoytqVVXgKMZTTZwXI0_NhHldd4gDY7BBJL-DP_K8Z02EmXhw5ZYmV2V0IhpET0Q&usqp=CAU" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
          <app-card></app-card>
    </div>
    <div class="col-4">
      <app-card></app-card>
    </div>
    <div class="col-4">
      <app-card></app-card>
    </div>
    <div class="col-4">
      <app-card></app-card>
    </div>

  </div>
</div>




