<div class="container-fluid">
  <div class="head">
    <div class="row">
      <app-head></app-head>
    </div>
  </div>
  <div class="menu">
  <div class="row">
    <app-navbar></app-navbar>
  </div>
  <div class="row">
    <div class="col-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-7">
      <app-main></app-main>
    </div>
    <div class="col-3">
      <app-sidebar></app-sidebar>
    </div>
  </div>
  </div>
  <div class="row">
    <app-footer></app-footer>
  </div>
</div>
